*.class

# Package Files #
*.jar
*.war
*.ear


.idea
.settings
api/src/webapp/WEB-INF/design
*.iml
/*/target/
*.bak
/api/vendor/
/api/node_modules/
/api/src/main/webapp/dist/vendor/
api/src/main/webapp/dist/
