div {
}
div.nav {
    float: left;
    width: 200px;
    margin-left: -200px;
    background: lightblue;
    border-top: 1px groove green;
    height: 100%;
}
.content {
    width: 100%;
    float: left;
    padding-left: 10px;
}
.header {
    background: lightblue;
    overflow: hidden;
}
.wrapper {
    margin-left: 200px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*a:active .ajax-link, a:focus .ajax-link {*/
    /*text-decoration: dashed;*/
/*}*/

a.ajax-link, a.ajax-link {
    border-bottom: 1px blue dotted;
}

a.ajax-link:hover {
    text-decoration: none;
}

.route-cities li {
    float: left;
    margin-right: 25px;
}

.route-cities-heading {
    padding: 5px 10px 5px 5px;
    position: relative;
}
.route-arrow {
    position: absolute;
    right: -20px;
    top: 5px;
}

.route-cities li:not(.ui-sortable-placeholder):last-child .route-arrow, .ui-sortable-helper .route-arrow {
    display: none;
}

.section-title {
    padding-left: 84px;
    display: inline-block;
    line-height: 64px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.section-title-cargo {
    background: url(../img/delivery-packages-on-a-trolley.png) no-repeat;
}
.section-title-route {
    background: url(../img/route.png) no-repeat;
    padding-top: 5px;
}
.section-title-truck {
    background: url(../img/truck.png) no-repeat;
    padding-top: 2px;
}
.section-title-drivers {
    background: url(../img/courier.png) no-repeat;
    padding-top: 5px;
}

.route-summary-table td {
    padding: 0 5px;
}

.route-summary-table td:first-child {
    text-align: right;
}

/* show the move cursor as the user moves the mouse over the panel header.*/
ol:not(.ui-sortable-disabled) .panel-heading {
    cursor: move;
}

ol:not(.ui-sortable-disabled) .route-city-name:before {
    content: '⋮'
}


.label-lg {
    font-size: large;
}


/*!* stretch multiply inputs on same line on modal forms  *!*/
/*.wide-input {*/
    /*width: 100%;*/
/*}*/








/*!** CSS TABLE **!*/

/*!**/
/*Max width before this PARTICULAR table gets nasty*/
/*This query will take effect for any screen smaller than 760px*/
/*and also iPads specifically.*/
/**!*/
/*@media*/
/*only screen and (max-width: 760px),*/
/*(min-device-width: 768px) and (max-device-width: 1024px)  {*/

    /*!* Force table to not be like tables anymore *!*/
    /*table, thead, tbody, th, td, tr {*/
        /*display: block;*/
    /*}*/

    /*!* Hide table headers (but not display: none;, for accessibility) *!*/
    /*thead tr {*/
        /*position: absolute;*/
        /*top: -9999px;*/
        /*left: -9999px;*/
    /*}*/

    /*tr { border: 1px solid #ccc; }*/

    /*td {*/
        /*!* Behave  like a "row" *!*/
        /*border: none;*/
        /*border-bottom: 1px solid #eee;*/
        /*position: relative;*/
        /*padding-left: 50%;*/
    /*}*/

    /*td:before {*/
        /*!* Now like a table header *!*/
        /*position: absolute;*/
        /*!* Top/left values mimic padding *!*/
        /*top: 6px;*/
        /*left: 6px;*/
        /*width: 45%;*/
        /*padding-right: 10px;*/
        /*white-space: nowrap;*/
    /*}*/

    /*!**/
    /*Label the data*/
    /**!*/
    /*td:nth-of-type(1):before { content: "First Name"; }*/
    /*td:nth-of-type(2):before { content: "Last Name"; }*/
    /*td:nth-of-type(3):before { content: "Job Title"; }*/
    /*td:nth-of-type(4):before { content: "Favorite Color"; }*/
    /*td:nth-of-type(5):before { content: "Wars of Trek?"; }*/
    /*td:nth-of-type(6):before { content: "Porn Name"; }*/
    /*td:nth-of-type(7):before { content: "Date of Birth"; }*/
    /*td:nth-of-type(8):before { content: "Dream Vacation City"; }*/
    /*td:nth-of-type(9):before { content: "GPA"; }*/
    /*td:nth-of-type(10):before { content: "Arbitrary Data"; }*/
/*}*/