<table class="route-summary-table">
    <tr>
        <td>Distance</td>
        <td>{{routeLength}} km</td>
    </tr>
    <tr>
        <td>Required capacity</td>
        <td>{{requiredCapacity}} kg</td>
    </tr>
</table>